body {
	overflow: hidden;
}

img {
	display: block;
	width: 300px;
	height: 300px;
}

#bvb {
	height: auto;
}

.equity {
	background-color: white;
	color: black;
	border: 2px solid black;
	width: 300px;
	height: 40px;
	text-align: center;
}

.equity:hover {
	cursor: pointer;
}

.container {
	display: inline-block;
}

.stack-size {
	padding: 5px 80px 20px 5px;
	width: 225px;
	height: 25px;
	background-color: black;
}

input {
	margin: 10px;
}

.dark {
	background: black;
	color: white;
}

.large {
	font-size: 34px;
}

.rhse {
	display: flex;
}

.presentation {
	margin: 5px 35px 10px 35px;
}
